/* Majority of CSS "borrowed" from: https://bestmotherfucking.website/ */
body {
	margin: 1em auto;
	max-width: 40em;
	padding: .62em 18%;
	font: 1.2em/1.62 sans-serif;
	color: #fff;
	background: #151516;
}

.computers {
	display: flex;
	padding: 5px;
}

a:link { color: #cdf; }
a:hover, a:visited:hover { color: #def; }
a:visited { color: #dcf; }

img { padding-right: 20px; }

#nav { margin: 0; }
h1, h2, h3 { line-height: 1.2; }
hr { border: 2px solid darkblue; }

i { color: red; }
i:hover { color: blue; }
